.ytcplayer{margin-bottom: 10px}
ul.ytcgallery{
	margin: 0; padding: 0;
	list-style: none; overflow:hidden
}
ul.ytcgallery li{
	float:left;  
	margin: 0 10px 10px 0;padding: 0
}
ul.ytcgallery li a{
	display: block;
	border:1px solid #999;
	background-position: center center;
	background-repeat: no-repeat;
}